<!DOCTYPE html>
<html lang="en">

<head>
    <title>Passport Authentication</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" />
    <link href="stylesheets/style.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/logout">
                    Logout
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Enter Car Information</h2>
                <form id="carForm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Make :</label>
                        <input type="make" class="form-control" id="makeForForm" aria-describedby="emailHelp" />
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Model</label>
                        <input type="Model" class="form-control" id="modelForForm" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Year</label>
                        <input type="Year" class="form-control" id="yearForForm" />
                    </div>
                    <button id="carFormSubmit" type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="car-table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Make</th>
                            <th scope="col">Model</th>
                            <th scope="col">Year</th>
                            <th scope="col">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Honda</td>
                            <td>Accord</td>
                            <td>2002</td>
                            <td><button type="button" class="btn table-btn btn-primary">Select</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="scroll-menu">
                    <div>
                        <a href="#home">Oil Change</a>
                        <a href="#home">tire change</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>
</body>

</html>