form.signup,
form.login {
  margin-top: 50px;
}

.scroll-menu {
  margin-top: 25px;
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scroll-menu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: red;
}

#car-table {
  margin-top: 14px;
}

.table-btn {
  padding: 4px !important;
  font-size: 3px;
  letter-spacing: 1.2px;
}

.table-btn:nth-child(2) {
  margin-left: 9px;
}
